@{
    Layout = "/Views/Home/Layout.cshtml";
}
@{
    ViewBag.Title = "Change Address";
}


<div class="container">
<form method="post">
    <!--ID-->
  <div class="form-group">
    <label class="col-form-label" for="IDLable">Customer ID</label>
    <input class="form-control" name="CID" type="text">
   </div>
	 <!--DOB-->
  <div class="form-group">
    <label class="col-form-label" for="DOBLable">Date of Birth</label>
    <input class="form-control" name="DOB" type="text">
   </div>
	 <!--Full Name-->
  <div class="form-group">
    <label class="col-form-label" for="NameLable">Full Name</label>
    <input class="form-control" name="Name" type="text">
   </div>
    <!--Residence Address-->
  <div class="form-group row col-md-3">
    <label for="address">New Residence Address</label>
    <input class="form-control" name="Address" placeholder="e.g. 12345 Sum St NE" type="address">
    <!--<small name="newAddress" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
  </div>
	<!--City-->
  <div class="form-group">
    <label class="col-form-label" for="CityLable">City</label>
    <input class="form-control" name="City" type="text">
   </div>
	<!--State-->
  <div class="form-group">
    <label class="col-form-label" for="StateLable">State</label>
    <input class="form-control" name="State" type="text">
   </div>
	<!--Zip Code-->
  <div class="form-group">
    <label class="col-form-label" for="ZipLable">Zip Code</label>
    <input class="form-control" name="Zip" type="text">
   </div>        
    <!--County-->
  <div class="form-group">
    <label class="col-form-label" for="CountyLable">County</label>
    <input class="form-control" name="County" type="text">
  </div>
        <!--Email Address-->
  <div class="form-group row col-md-3">
    <label for="address">New Email Address</label>
    <input class="form-control" name="Email" placeholder="e.g. ex503@emailMail.com" type="Email">
    <!--<small name="newAddress" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
  </div>
    <!--Button-->
  <div align="form-group">
    <button type="submit" name="Button" class="btn btn-primary">Submit</button>
  </div>
</form>
</div>


@if (IsPost) 
    {
	  <p>Your ID is @ViewBag.CID</p>
       <h3>Request Submitted!</h3> 
    }
