
@{
    ViewBag.Title = "Change Address";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <h3><b>Change Requests Form</b></h3>
    <form method="post" class="form-group">
        <!--ID-->
        <div class="row">
            <div class="col-lg-2">
                <label class="col-form-label" for="IDLable">Customer ID</label>
                <input class="form-control" maxlength="3" name="CID" type="text"  placeholder="e.g. '123'">
            </div>
            <div class="col-lg-2">
                <label class="col-form-label" for="DOBLable">Date of Birth</label>
                <input class="form-control" name="DOB" type="text" placeholder="e.g. '11/11/1993'">
            </div>
        </div>
        <!--Full Name-->
        <div class="row">
            <div class="col-lg-4">
                <label class="col-form-label" for="NameLable">Full Name</label>
                <input class="form-control" name="Name" type="text"  placeholder="e.g. 'James Games'">
            </div>
        </div>
        <!--Residence Address-->
        <div class="row">
            <div class="col-lg-5">
                <label for="address">New Residence Address</label>
                <input class="form-control" name="Address"   placeholder="e.g. 12345 Sum St NE" type="text">
                <!--<small name="newAddress" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
        </div>
        <!--City-->
        <div class="row">
            <div class="col-lg-3">
                <label class="col-form-label" for="CityLable">City</label>
                <input class="form-control" name="City" type="text"   placeholder="e.g. 'Monmouth'">
            </div>
        </div>
        <!--State-->
        <div class="row">
            <div class="col-lg-3">
                <label class="col-form-label" for="StateLable">State</label>
                <input class="form-control" name="State" type="text"   placeholder="e.g. 'Oregon'">
            </div>
        </div>
        <!--Zip Code-->
        <div class="row">
            <div class="col-lg-2">
                <label class="col-form-label" for="ZipLable">Zip Code</label>
                <input class="form-control" name="Zip" type="text" maxlength="5"   placeholder="e.g. '97361'">
            </div>
        </div>
        <!--County-->
        <div class="row">
            <div class="col-lg-3">
                <label class="col-form-label" for="CountyLable">County</label>
                <input class="form-control" name="County" type="text"   placeholder="e.g. 'Polk'">
            </div>
        </div>
        <!--Email Address-->
        <div class="row">
            <div class="col-lg-3">
                <label for="address">New Email Address</label>
                <input class="form-control" name="Email"   placeholder="e.g. JG@emailMail.com" type="Email">
                <!--<small name="newAddress" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            </div>
        </div>
        <div class="row">
            <h3></h3>
        </div>
        <!--Button-->
        <div class="row">
            <button type="submit" name="Button" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>