
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" >
    <div class="row">
        <!--Home-->
        <h2><b>Welcome To Home of DMV</b></h2>
    </div>

    <div>
        <h3>Did you come by to give us a change of address notice? </h3>
    </div>

    <!--DMV Image-->
    <div class="row">
        <img src="~/dmv_funny.jpg" alt="DMV Picture" style="width:auto;height:auto;">
    </div>

    <div class="row">
        <h4>Just playing! Click on '<i>Change Request</i>' on top of this page.</h4>
    </div>
</div>



