<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>

<!--Home-->
<h3>This is the Home default landing page.</h3>

<ul>                                <!--text, link-->
    <li>@Html.ActionLink("Hello World Link", "HelloWorld")</li>
	<li>Link Item Two</li>
	<li>Link Item Three</li>
</ul>




