@{
    ViewBag.Title = "Page 2";
}

<div class="container">
    <form method="post">
        <div class="form-group">
            <label>UserName; </label>
			<input class="text" maxlength="10" name="Uname"/>
			<label>Fake Password; </label>
            <input class="text" maxlength="10" name="FPW"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
</div>

