@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Page 1";
}

<h2>Page 1:</h2>
<div class="container">
	<!--USD to MXP-->
	<p>Convert your US Dollar to Mexican Peso!</p>
	<form action="/Home/TheBank" method="get"><!--submit click: TheBank/get method-->
        <div class="form-group">
          <label for="USD">US Dollar</label><!--US Dollar Label-->
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input name="USD" type="number" value="1" step="1" max="1000" min="1">
			<button type="submit"  class="btn btn-success">Submit</button>
          </div>
        </div>
	</form>
	
	<h3>OR</h3>
	<!--MXP to USD-->
	<p>Convert your Mexican Peso to US Dollar!</p>
    <form action="/Home/TheBank" method="get"><!--submit click: TheBank-->
        <div class="form-group">
          <label for="MP">Mexican Peso</label><!--Mexican Peso Label-->
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input name="MP" type="number" value="1" step="1" max="10000000" min="1">
            <button type="submit"  class="btn btn-success">Submit</button>
          </div>
        </div>
    </form>
</div>
        