body {
    background-color: #01015a !important;
    padding-bottom: 20px,20px,20px,20px;
}

h2 {
    font-size: 75px !important;
    text-align: center;
    padding: 20px 0;
    color: #006bcc !important;
    text-shadow: 2px 2px 1px silver; 
}

label {
    color: white;
    margin-left: 20px;
}

span {
    font-size: 20px;
    color: white;
    margin-right: 20px;
}

input {
    font-size: 20px !important;
}

input.btn {
    border-radius: 12px;
    background-color: #2d9800;
    margin-left: 20px;
}

p,
footer {
    color: white;
    text-align: center;
}

img {
    max-height: 200px;
}
