body {
    background-color: #000d58 !important;
    padding: 20px,20px;
}

h2 {
    font-size: 75px !important; /*font size*/
    text-align: center;
    margin: 50px; /*space around outside of element*/
    padding: 20px 0; /*space around content(paragraph)*/
    color: #007acc !important;
    text-shadow: 1px 1px 1px white; /*1:hor offset, 2:ver offeset, 3:blur radius, 4:base color shadow*/
}

button {
    border-radius: 12px !important;
}

input {
    max-width: 300px;
    margin-right: 10px !important;
}

footer {
    color: white;
}
