
@{
    ViewBag.Title = "Search Giphy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <h2 class="Header">Search Giphy</h2>
    </div>
    <div class="form-group text-center">
        <input type="text" id="text" placeholder="Lazy Cat...">
        <button type="button" class="btn btn-success">Search</button>
    </div>
</div>



